* {
  padding: 0;
  margin: 0;
}
/* navigation styling */

.Rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.688rem;
  height: 2.625rem;
  margin: -7.238rem 0 0 78.3rem;
  border-style: solid;
  border: solid 1px white;
  text-align: center;
}

.abc {
  width: 4.728rem;
  height: 2.363rem;
  margin: 0 44.043rem 15.958rem 0.166rem;
  object-fit: contain;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Industries-Services {
  width: 4.563rem;
  height: 4.875rem;
  margin: 0.313rem 59.875rem 0 0;
}

.Industries-Services-Link {
  font-family: HelveticaNeue;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.86;
  letter-spacing: normal;
  color: var(--white);
  text-decoration: none;
}
.Industries-Services-Link:hover,
.text-style-1 {
  color: #ffc004;
}
